@import "./imports/variables";

html {
	scroll-behavior: smooth;
}

body {
	background-color: rgba($color: $principalBgColor, $alpha: 0.15);
}

#root {
	font-family: $principalFont;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

.btn-outline-primary {
	color: $principalBgColor;
	border-color: $principalBgColor;

	&:hover {
		background-color: $principalBgColor;
		border-color: $principalBgColor;
	}

	&:hover .badge {
		color: #fff;
	}
}

.btn {
	&:focus {
		box-shadow: none;
	}
}

.divider {
	width: 100%;
	border: 1px solid rgba($color: $primaryColor, $alpha: 0.1);
	margin-bottom: 5px;
}

.spinner-border {
	width: 5rem;
	height: 5rem;
}

.badge {
	color: $principalBgColor;
	padding-right: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

header {
	padding: 2rem;

	nav {
		box-shadow: $shadowDown;

		.navbar-collapse {
			.m-auto {
				a {
					padding: 5px;
					margin: 0 10px;
					text-decoration: none;
					color: rgba($color: #000000, $alpha: 0.6);
					border: 3px solid rgba($color: #000000, $alpha: 0);
					transition: 0.3s;

					&:hover {
						border-top: 3px double rgba($color: #000000, $alpha: 0.5);
						border-bottom: 3px double rgba($color: #000000, $alpha: 0.5);
					}
				}

				.active {
					border-top: 3px double rgba($color: #000000, $alpha: 0.5);
					border-bottom: 3px double rgba($color: #000000, $alpha: 0.5);
				}
			}
		}

		.shopping-cart {
			font-size: 1.5rem;
		}
	}
}

.greeting {
	width: 700px;
	margin: auto;
	text-align: center;
	background-color: $secundaryBgColor;
	color: $primaryColor;
	box-shadow: $shadowDown;
	border-radius: 5px;
}

main {
	width: 80%;
	margin: auto;
	color: $primaryColor;
	text-align: center;

	.container {
		margin-top: 1rem;

		.row {
			.col {
				display: flex;
				justify-content: center;

				.card {
					.card-body {
						.cart-text {
							flex-grow: 1;
						}
					}

					a {
						button {
							width: 80%;
						}
					}
				}
			}
		}
	}

	#detalle {
		width: 60%;
		padding: 1rem 3rem;
		box-shadow: $shadowDown;
		display: grid;
		background-color: rgba($color: #fff, $alpha: 0.7);
		border-radius: 15px;
		row-gap: 1rem;
		column-gap: 1rem;
		align-items: center;

		.img-fluid {
			border-radius: 5px;
			justify-self: center;
		}

		h1 {
			font-size: 2rem;
			font-family: cursive;
		}

		.descripcion {
			text-align: left;
		}

		#counter {
			margin-top: 0;
			.item-count {
				width: 25vh;
				background-color: $secundaryBgColor;
				box-shadow: $shadowDown;
				margin-top: 0;
				padding: 10px 20px;
				border-radius: 5px;
				text-align: center;

				.row {
					align-items: center;
				}

				.control-container {
					flex-grow: 1;
					margin-bottom: 10px;
					justify-content: center;
					border-radius: 5px;
					border: 1px solid rgba($color: #000000, $alpha: 0.1);
				}

				.col-auto {
					padding: 0;
				}

				.control {
					width: 100%;
					background-color: transparent;
					border: none;
					font-size: 1.2rem;
					transition: 0.3s;
					border-radius: 5px;

					&:hover {
						background-color: #ffc107;
					}
				}
			}
		}
	}

	#carrito {
		width: 70%;
		margin: auto;

		img {
			width: 100px;
		}

		th:first-child {
			width: 150px;
		}

		th:last-child {
			width: 50px;
		}

		tbody {
			tr:last-child {
				border-top: 3px double;
			}
		}

		.carrito-total {
			font-weight: bold;
			font-size: 1.2rem;
		}

		.carrito-btns {
			display: flex;
			justify-content: flex-end;
		}
	}

	.checkout-container {
		justify-content: space-between;

		.titulo {
			font-size: 2rem;
			font-weight: bold;
			background-color: rgba($color: #ffc107, $alpha: 0.3);
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}

		.envio-form {
			width: 50%;
			background-color: rgba($color: white, $alpha: 0.8);
			border-radius: 15px;
			box-shadow: $shadowDown;

			div {
				width: 80%;
				margin: auto;

				small {
					display: block;
					text-align: left;
				}

				label {
					@extend small;
					font-weight: bold;
				}
			}

			.btn {
				width: 50%;
			}
		}

		.summary-checkout {
			width: 45%;
			display: flex;
			align-items: flex-start;
			background-color: rgba($color: white, $alpha: 0.8);
			border-radius: 15px;
			box-shadow: $shadowDown;

			.total-container {
				width: 80%;
				margin: auto;

				.total {
					font-weight: bold;
					font-size: 1.2rem;
				}
			}

			.lista-productos {
				max-height: 52vh;

				.checkout-item {
					border-radius: 3px;

					img {
						width: 100px;
					}

					.item-text {
						margin-left: 10px;
					}
				}
			}
		}
	}

	.thanks-container {
		width: 60%;
		margin: auto;
		padding: 50px;
		background-color: rgba($color: #fff, $alpha: 0.8);
		border-radius: 15px;
		box-shadow: $shadowDown;
		line-height: 2;

		.thanks-img {
			width: 65%;
			margin: auto;
			border-radius: 100%;
		}

		.thanks-text {
			font-size: 1.1rem;
			text-align: center;

			.thanks-number {
				font-size: 1.5rem;
				font-weight: bold;
				padding: 5px;
				background-color: rgba($color: #ffc107, $alpha: 0.3);
				border-radius: 10px;
			}
		}
	}
}

footer {
	margin-top: 15px;
	padding-top: 10px;
	background-color: $secundaryBgColor;
	box-shadow: $shadowAbove;

	position: relative;
	left: 0;
	bottom: 0;
	right: 0;

	.footer-logo {
		width: 180px;
		height: 51px;
	}

	.nav-link {
		color: rgba(0, 0, 0, 0.55);
		padding: 0;

		.icon {
			font-size: 1.7rem;
			padding: 8px 16px;
		}

		.fb-icon {
			&:hover,
			&:focus {
				color: #3b5998;
			}
		}

		.ig-icon {
			&:hover,
			&:focus {
				color: #d6249f;
			}
		}

		.tw-icon {
			&:hover,
			&:focus {
				color: #00acee;
			}
		}
	}
}
