// Imports
@import "./imports/variables";

// General
html {
	scroll-behavior: smooth;
}

#root {
	background-color: rgba($color: $principalBgColor, $alpha: 0.15);
	font-family: $principalFont;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

.btn-outline-primary {
	color: $principalBgColor;
	border-color: $principalBgColor;

	&:hover {
		background-color: $principalBgColor;
		border-color: $principalBgColor;
	}
}

.divider {
	border: 1px solid rgba($color: $primaryColor, $alpha: 0.1);
	margin-bottom: 5px;
}

// Header
header {
	padding: 2rem;
	nav {
		box-shadow: $shadowDown;

		.shopping-cart {
			font-size: 1.5rem;
		}
	}
}

.greeting {
	width: 700px;
	margin: auto;
	text-align: center;
	background-color: $secundaryBgColor;
	color: $primaryColor;
	box-shadow: $shadowDown;
	border-radius: 5px;
}

// Main
main {
	width: 80%;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 20px;
	flex-grow: 1;
	color: $primaryColor;
	text-align: center;

	.container {
		margin-top: 1rem;

		.spinner-border {
			width: 5rem;
			height: 5rem;
		}

		.row {
			.col {
				display: flex;
				justify-content: center;

				.card {
					.card-body {
						.cart-text {
							flex-grow: 1;
						}
					}
				}
			}
		}
	}

	.item-count {
		width: 25vh;
		background-color: $secundaryBgColor;
		box-shadow: $shadowDown;
		padding: 10px 20px;
		border-radius: 5px;
		text-align: center;

		.row {
			align-items: center;
		}

		.control-container {
			flex-grow: 1;
			margin-bottom: 10px;
			justify-content: center;
			border-radius: 5px;
			border: 1px solid rgba($color: black, $alpha: 0.1);
		}

		.col-auto {
			padding: 0;
		}

		.control {
			width: 100%;
			background-color: transparent;
			border: none;
			font-size: 1.2rem;
			transition: 0.3s;
			border-radius: 5px;

			&:hover {
				background-color: #ffc107;
			}
		}
	}
}

// Footer
footer {
	padding-top: 10px;
	background-color: $secundaryBgColor;
	box-shadow: $shadowAbove;

	position: relative;
	left: 0;
	bottom: 0;
	right: 0;

	.nav-link {
		color: rgba(0, 0, 0, 0.55);
		padding: 0;

		.icon {
			font-size: 1.7rem;
			padding: 8px 16px;
		}

		.fb-icon {
			&:hover,
			&:focus {
				color: #3b5998;
			}
		}

		.ig-icon {
			&:hover,
			&:focus {
				color: #d6249f;
			}
		}

		.tw-icon {
			&:hover,
			&:focus {
				color: #00acee;
			}
		}
	}
}
